body{
  
    

    background-image: url(fondogeneral.jpg);
    background-size: 80%;
    
    }
    .navbar{
        background-image: url(plecasindexnn.png);
        display: block;
        margin-top: auto;
        background-size: cover;
        min-height: 70px;
       
       
    }
    .navbar-nav{
        position: absolute;
    left: 50%;
    margin-top: 3rem;
    }
   
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
      
      
      /* Style the hamburger menu */
      
      
      /* Add a grey background color on mouse-over */
      
      
      /* Style the active link (or home/logo) */
      
    .image1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    .image2{
        display: block;
        margin-left: auto;
  margin-right: auto;
  width: 90%;
    }
    .image3{
    display: block;
    margin-left: auto;
margin-right: auto;
width: 70%;
margin-top: 5%;
}
.image4{
    display: block;
    margin-left: auto;
margin-right: auto;
width: 10%;
margin-top: 5rem;
}
.image5{
    display: block;
    margin-left: auto;
margin-right: auto;
width: 10%; 
margin-top: 5%;
}
.image6{
    display: block;
    margin-left: auto;
margin-right: auto;
width: 90%;
margin-top: 4rem;
}
.image7{
    display: block;
    margin-left: auto;
margin-right: auto;
width: 70%;
}
.image8{
    display: block;
    margin-left: auto;
margin-right: auto;
width: 90%;
}
.image9{
    display: block;
    margin-left: auto;
margin-right: auto;
width: 90%;
}
.image10{
    display: block;
    margin-left: auto;
margin-right: auto;
width: 70%;
margin-top: -6rem;
}
footer{
    background-image:linear-gradient(black,rgb(14, 14, 14)) ;
    margin-top: 4rem;
    height: 25rem;
}

.textcard1{
    text-align: center;
}
.iconwhats{
    position: relative;
    left: 20%;
    top: 1%;
}
.iconocorreo{
    position: relative;
    left: 40%;
    top: 1%;
}
.textocontacto{
    text-align: center;
}
form {
    display: block;
    margin-left: auto;
margin-right: auto;
    width:200px;
}
.btn{
    background-image: url(botonEnviar.png);
    background-size: 100%;
    height: 4rem;
    width: 8rem;
    display: block;
    margin-left: auto;
margin-right: auto;
}
.horarios{
    width: 110%;
}
.btnface{
    background-image: url(iconofinal_face.png);
    background-size: cover;
    height: 4rem;
    width: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.btninsta{
    background-image: url(iconofinal_insta.png);
    background-size: cover;
    height: 4rem;
    width: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logofin{
    display: block;
    margin-left: auto;
margin-right: auto;
    width: 20%;
    margin-top: 6rem;
    
}